@import "./font.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-godick;
  }
}
.w-1200 {
  width: 1200px;
}
.border-b-1 {
  border-bottom: 1px solid #d9d9d9;
}
.inner {
  width: 1200px;
}
.main-banner {
  width: -webkit-fill-available;
}
